body {
  margin: 0;
}

.mainImage {
  display: block;
  margin: auto;
  max-width: 800px;
}

.smallLogo {
  display: block;
  margin: auto;
  max-width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: purple;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white;
  margin: 5px;
}

.extraTitle {
  text-align: center;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white;
  width: 100%;
  background-color: grey;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 100%;
  margin: 30px;
}

.item h1 {
  font-family: 'Satisfy', cursive;
  text-align: center;
  color: purple;
  margin: 5px;
}

.item p {
  font-size: 20px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.item a {
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: block;
  background-color: purple;
  width: 100%;
  color: white;
  margin: 5px;
  font-size: 30px;
}
